---

---

<header class="container mx-auto">
  <div class="flex justify-between">
    <div class="relative">
      <img src=" /images/bb.png" alt="logo bebe" />
    </div>
    <div>
      <ul class="flex gap-4">
        <a href="#"><li>Inicio</li></a>
        <a href="#"><li>Sobre Mi</li></a>
        <a href="#"><li>Dirección</li></a>
      </ul>
    </div>
  </div>
</header>
