---
import SEO from "../components/SEO.astro";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <SEO {title} {description} />
  </head>
  <body>
    <slot />
    <style is="global"></style>
  </body>
</html>
